<div class="productos">

    <div class="smartTV2">
        <img class="smartTV" src="/public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
        
        <div class="container-precio">
            
            <div class="delivery-icon">
                <i class="fa-solid fa-truck"></i>
            </div>

            <span class="precio">$23.200</span>
            
            <span class="descuentos">
                <span class="descuentos">5% OFF</span>
            </span>

            <h3 class="descripciones">SmartTV Samsung 43''</h3>
        </div>
    </div>
</div>



<section class="ofertas">
    <h2>Ofertas</h2>

    <div class="productos">

        <div class="cafetera2">
            <img class="cafetera" src="/public/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            
            <div class="container-precio">
                
                <div class="delivery-icon">
                    <i class="fa-solid fa-truck"></i>
                </div>

                <span class="precio">$6.770</span>
                
                <span class="descuentos">
                    <span class="descuentos">40% OFF</span>
                </span>

                <h3 class="descripciones">Cafetera Moulinex</h3>
            </div>
        </div>
    </div>

    <div class="productos">

        <div class="macbook2">
            <img class="macbook" src="/public/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
            
            <div class="container-precio">
                
                <div class="delivery-icon">
                    <i class="fa-solid fa-truck"></i>
                </div>

                <span class="precio">$230.000</span>
                
                <span class="descuentos">
                    <span class="descuentos">20% OFF</span>
                </span>

                <h3 class="descripciones">Macbook Pro 2019</h3>
            </div>
        </div>
    </div>
    
    <div class="productos">

        <div class="samsungGalaxy2">
            <img class="samsungGalaxy" src="/public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
            
            <div class="container-precio">
                
                <div class="delivery-icon">
                    <i class="fa-solid fa-truck"></i>
                </div>

                <span class="precio">$70.500</span>
                
                <span class="descuentos">
                    <span class="descuentos">10% OFF</span>
                </span>

                <h3 class="descripciones">Samsung Galaxy S10</h3>
            </div>
        </div>
    </div>

    <div class="productos">

        <div class="smartTV2">
            <img class="smartTV" src="/public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
            
            <div class="container-precio">
                
                <div class="delivery-icon">
                    <i class="fa-solid fa-truck"></i>
                </div>

                <span class="precio">$23.200</span>
                
                <span class="descuentos">
                    <span class="descuentos">5% OFF</span>
                </span>

                <h3 class="descripciones">SmartTV Samsung 43''</h3>
            </div>
        </div>
    </div>     
</section>


<header>
    <div> 
        <img class="logo" src="/public/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
    </div>

    <span>
        <form class="searchbar" action="/home" method="GET">
            <input type="text" name="search" id="search" placeholder="Buscar productos, marcas"> <span><button>Buscar <i class="fa-solid fa-magnifying-glass"></i></button></span> 

        </form>
    </span>

    <span>
            <i class="fa-solid fa-hand-holding-dollar"></i>  
        <label class="buy-label">Comprá en cuotas y sin tarjeta de crédito</label>
    </span>

    <div>
        <nav class="navbar">
            <ul>
                <li><a href="ofertas.html">Ofertas</a></li>
                <li><a href="stores.html">Tiendas oficiales</a></li>
                <li><a href="sell.html">Vender</a></li>
                <li><a href="help.html">Ayuda</a></li>
            </ul>
            </nav>
        <nav class="navbarIcons">
            <ul>
                <li><a href="register.html">Creá tu cuenta</a>  <i class="fa-solid fa-id-card"></i></li>
                <li><a href="login.html">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="cart.html">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </div>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</header>

.searchbar {
    width: 50%;
    justify-content: flex-end;
}


.fa-hand-holding-dollar {
    position: relative;
    margin-right: 10px;
}

.buy-label {
    font-size: 12px;
    position: relative;
    margin-right: 10px;
}

.navbar .navbarIcons {
    text-decoration: none;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    width: 100%;
    overflow: auto;
    padding: 10px;
    justify-content: flex-start;
    padding-top: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    align-items: left;
    font-size: 12px;
    display: flex;
    text-align: center;
    padding: 10px;
}

.navbar ul {
    overflow: hidden;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 0px;
}

.navbar li {
    float: right;
}

.navbarIcons {
    width: 100%;
    overflow: auto;
    padding: 10px;
    justify-content: flex-end;
    padding-top: 20px;
}

.navbarIcons a {
    text-decoration: none;
    color: black;
    align-items: left;
    font-size: 12px;
    display: flex;
    text-align: center;
    padding: 10px;
    
}

.navbarIcons ul {
    overflow: hidden;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 0px;
}

.navbarIcons li {
    float: right;   
}

.burger-menu {
    width:30px;
    height:30px;
    background-color: #1259c3;
    position: relative;
    z-index: 999;
    color: white;
    border-radius: 20%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

